@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/*VARIABLES*/

:root {
    --nav1-color: #f79931;
    --nav2-color: #EB6108;
    --brown-top-color: #7D2F01;
    --author-color: #F7931D;
    --footer-color: #2E2E2E;
    --font-family: "Inter", sans-serif;
  }

/*CRITERIOS COMUNES*/

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
  }

  a {
    text-decoration: none;
  }

/* HEADER 1*/

 header > .nav1 {
    background-color: var(--nav1-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,auto));
    gap: 20px;
    height: auto;
    justify-content: center;
    align-items: center;
    position: sticky;
  }

  header > .nav1 > div > .logo {
    height: 80px;
    width: 100%;
    padding-left: 10px;
  }

  header > .nav1 > .searcher {
    display: flex;
    width: 100%;  
    align-items: center;
    justify-self: start;
  }

  header > .nav1 > .searcher > input {
    border-radius: 5px;
    width: 500px;
    min-width: 150px;
    height: 50px;
    outline: none;
    border: none;
    font-size: 15px;
    padding-left: 15px;
  }

  header > .nav1 > .searcher > img {
    background-color: var(--brown-top-color);
    border-radius: 10%;
    height: 50px;
    width: 50px;
    min-width:60px;
    cursor: pointer;
  }

  .nav1 > .account {
    justify-content: space-between;
    align-items: center;
    justify-self: center;
  }

  .nav1 > div > a > img {
    height: 50px;
    width: 50px;
  }

  .nav1 > div > a > h2 {
    color: var(--brown-top-color);
    height: auto;
    font-weight: 600;
  }

  .nav1 > div > a > h3 {
    color: white;
    font-weight: 300;
  }

  .nav1 > .cart {
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    justify-self: center;
    align-self: center;
  }

  /* HEADER 2*/

  header > .nav2 {
    background-color: var(--nav2-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,auto));
    gap: 5px;
    height: auto;
    justify-content: center;
    align-items: center;
    position: sticky;
    justify-content: space-around;
    padding: 8px;
  }

header > nav > ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

header > nav > ul > li > a {
  color: white;
}

header > nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
}

header > nav > ul > li > a > img {
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
}

/*MAIN 1*/

main {
  display: grid;
  grid-template-areas: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
  justify-content: center;
  text-align: center;
  justify-items: center;
  align-content: start;
}

#announce {
  grid-row: 1/2;
  padding-top: 30px;
}

#topics {
  grid-row: 2/3;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: space-between;
}

#topics > h2 {
  grid-row: 2/3;
  color: var(--footer-color);
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

#topics > ul {
  grid-row: 3/4;
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 30px;
  margin-top: 30px;
}

#books {
  grid-row: 3/6;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 60px 1fr 1fr 1fr 1fr;
}

#books > h2 {
  grid-row: 1;
}

#books > ul {
  grid-row: 2/3;
  display: flex;
  flex-wrap: wrap;
}

/*
 <main>
        </section>
        <section id="books">
            <h2>LOS MÁS VENDIDOS</h2>
            <ul class="top-seller">
                <li>
                    <img src="/assets/books/ACOTAR.jpeg" alt="Una Corte de Rosas y Espinas" title="Una Corte de Rosas y Espinas">
                    <p>UNA CORTE DE ROSAS Y ESPINAS</p>
                    <h4>16,95€</h4>
                    <button>Comprar</button>
                </li>
                <li>
                    <img src="/assets/books/ANHELO.jpeg" alt="Anhelo" title="Anhelo">
                    <p>ANHELO</p>
                    <h4>18,24€</h4>
                    <button>Comprar</button>
                </li>
                <li>
                    <img src="/assets/books/GOT.jpeg" alt="Juego de Tronos - Fuego y Sangre" title="Juego de Tronos - Fuego y Sangre">
                    <p>JUEGO DE TRONOS - FUEGO Y SANGRE</p>
                    <h4>17,00€</h4>
                    <button>Comprar</button>
                </li>
                <li>
                    <img src="/assets/books/HP.jpeg" alt="Harry Potter y la Piedra Filosofal" title="Harry Potter y la Piedra Filosofal">
                    <p>HARRY POTTER Y LA PIEDRA FILOSOFAL</p>
                    <h4>19,99€</h4>
                    <button>Comprar</button>
                </li>
                <li>
                    <img src="/assets/books/JUJUTSU-KAISEN.jpeg" alt="Jujutsu Kaisen Vol. II" title="Jujutsu Kaisen Vol. II">
                    <p>JUJUTSU KAISEN VOL. II</p>
                    <h4>8,65€/h4>
                    <button>Comprar</button>
                </li>
                <li>
                    <img src="/assets/books/LOR.jpeg" alt="El Señor de los Anillos - La Comunidad del Anillo" title="El Señor de los Anillos - La Comunidad del Anillo">
                    <p>EL SEÑOR DE LOS ANILLOS - LA COMUNIDAD DEL ANILLO</p>
                    <h4>13,49€</h4>
                    <button>Comprar</button>
                </li>
                <li>
                    <img src="/assets/books/SINSAJO.jpeg" alt="Los Juegos del Hambre - Sinsajo" title="Los Juegos del Hambre - Sinsajo">
                    <p>LOS JUEGOS DEL HAMBRE - SINSAJO</p>
                    <h4>19,18€</h4>
                    <button>Comprar</button>
                </li>
                <li>
                    <img src="/assets/books/WA.jpeg" alt="Asesino de Brujas - Los Hijos del Rey" title="Asesino de Brujas - Los Hijos del Rey">
                    <p>ASESINO DE BRUJAS - LOS HIJOS DEL REY</p>
                    <h4>21,15€</h4>
                    <button>Comprar</button>
                </li>
            </ul>
        </section>
        <div class="message">
            <p>En <strong>El Libro Técnico - La Casa del Lector</strong> ¡Celebramos 60 años de pasión por los libros!</p>
            <p>Somos tu librería en las palmas con <strong>ADN 100% canario.</strong>A lo largo de seis décadas, no solo te hemos acercado a la lectura, sino también todo lo que le rodea; papelería, libros especializados y unos vendedores que te ayudarán y aconsejarán en lo que necesites.</p>
            <p>Gracias por ser parte de nuestra historia</p>
        </div>
        <section class="advice">
            <h2>¿POR QUÉ COMPRAR EN EL LIBRO TÉCNICO?</h2>
            <ul>
                <li>
                    <img src="/assets/advices/protection.png" alt="Compra segura">
                    <p>Compra segura</p>
                </li>
                <li>
                    <img src="/assets/advices/free-shop.png" alt="Recogida gratis en tienda">
                    <p>Recogida gratis en tienda</p>
                </li>
                <li>
                    <img src="/assets/advices/shipping.png" alt="Envíos a Canarias y Península">
                    <p>Envíos a Canarias y Península</p>
                </li>
            </ul>
        </section>
    </main>
    <footer>
        
    </footer>
</body>
</html>

