@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/*VARIABLES*/

:root {
    --nav1-color: #f79931;
    --nav2-color: #EB6108;
    --brown-top-color: #7D2F01;
    --author-color: #F7931D;
    --footer-color: #2E2E2E;
    --footer-text-color: #CDC9E0;
    --font-family: "Inter", sans-serif;
  }

/*CRITERIOS COMUNES*/

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
  }

  a {
    text-decoration: none;
  }

/* HEADER*/

 header > .nav1 {
    background-color: var(--nav1-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,auto));
    gap: 20px;
    height: auto;
    justify-content: center;
    align-items: center;
    position: sticky;
  }

  header > .nav1 > div > .logo {
    height: 80px;
    width: 100%;
    padding-left: 10px;
  }

  header > .nav1 > .searcher {
    display: flex;
    width: 100%;  
    align-items: center;
    justify-self: start;
  }

  header > .nav1 > .searcher > input {
    border-radius: 5px;
    width: 500px;
    min-width: 150px;
    height: 50px;
    outline: none;
    border: none;
    font-size: 15px;
    padding-left: 15px;
  }

  header > .nav1 > .searcher > img {
    background-color: var(--brown-top-color);
    border-radius: 10%;
    height: 50px;
    width: 50px;
    min-width:60px;
    cursor: pointer;
  }

  .nav1 > .account {
    justify-content: space-between;
    align-items: center;
    justify-self: center;
  }

  .nav1 > div > a > img {
    height: 50px;
    width: 50px;
  }

  .nav1 > div > a > h2 {
    color: var(--brown-top-color);
    height: auto;
    font-weight: 600;
  }

  .nav1 > div > a > h3 {
    color: white;
    font-weight: 300;
  }

  .nav1 > .cart {
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    justify-self: center;
    align-self: center;
  }

  header > .nav2 {
    background-color: var(--nav2-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,auto));
    gap: 5px;
    height: auto;
    justify-content: center;
    align-items: center;
    position: sticky;
    justify-content: space-around;
    padding: 8px;
  }

header > nav > ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

header > nav > ul > li > a {
  color: white;
}

header > nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
}

header > nav > ul > li > a > img {
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
}

header > nav > img {
  display: none;
}

/*MAIN*/

main {
  display: grid;
  grid-template-areas: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
  justify-content: center;
  text-align: center;
  justify-items: center;
  align-content: start;
}

#announce {
  grid-row: 1/2;
  padding-top: 30px;
}

#topics {
  grid-row: 2/3;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: space-between;
}

#topics > h2 {
  grid-row: 2/3;
  color: var(--footer-color);
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

#topics > ul {
  grid-row: 2/3;
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 30px;
  margin-top: 30px;
}

#books {
  grid-row: 3/4;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 60px 1fr 1fr 1fr 1fr 1fr 1fr;
}

#books > h2 {
  grid-row: 3/4;
  color: var(--footer-color);
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin-bottom: 20px;
}

#books > ul {
  grid-row: 4/5;
  grid-column: 1/6;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 30px;
  justify-content: center;
}

#books > ul > li > img {
  height: 400px;
}

#books > ul > li > p {
  font-family: var(--font-family);
  margin-top: 5px;
  margin-bottom: 5px;
}

#books > ul > li > h4 {
  margin-bottom: 5px;
}

#books > ul > li > button {
  padding: 10px;
  border-radius: 10px;
  padding: 15px 25px;
  cursor: pointer;
  border: none;
  background-color: var(--nav1-color);
  color: white;
  font-weight: bolder;
}

main > div {
  margin: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: var(--nav2-color);
}

.advice {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.advice > h2 {
  color: var(--footer-color);
}

.advice > ul {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 200px;
}

/*FOOTER*/

footer {
  background-color: var(--footer-color);
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.footer-1 {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 30px;
}

.footer-1 > img {
  height: 70px;
  width: auto;
}

.footer-1 > ul {
  list-style: none;
  display: flex;
  gap: 25px;
  padding-top: 15px;
}

.footer-1 > ul > li > a > img {
  height: 20px;
  width: 20px;
}

.footer-2 {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 30px;
  color: var(--footer-text-color);
  justify-content: flex-start;
}

.footer-2 > h4 {
  color: var(--nav1-color);
  margin-bottom: 15px;
}
.footer-2 > ul {
  list-style: none;
}

.footer-3 {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 30px;
  color: var(--footer-text-color);
}

.footer-3 > h4 {
  color: var(--nav1-color);
  margin-bottom: 15px;
}

.footer-3 > ul {
  list-style: none;
}

.footer-3 > ul > li > a > p {
  color: var(--footer-text-color);
}

.footer-4 {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 30px;
  color: var(--nav1-color);
  gap: 5px;
}

.footer-4 > ul {
  list-style: none;
}

.footer-4 > ul > li > p {
  color: var(--footer-text-color);
}

.footer-4 > ul > li > img {
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer-5 {
  display: flex;
  justify-content: center;
  position: sticky;
  bottom: 0;
  background-color: rgb(31, 28, 28);
  color: var(--nav2-color);
  padding: 5px;
}

/*AHORA LO HAREMOS RESPONSIVE*/

@media screen and (max-width: 1150px) {

  main > section > img {
    width: 75%;
  }
  
 main > section > ul > li > a > img{
    height: 190px;
  }

main > div {
  margin: 30px;
  display: flex;
  flex-direction: column;
  width: 70%;
}

.advice {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.advice > ul {
  width: 60%;
  gap: 0px;
}
}

@media screen and (max-width: 860px) {
  
  header > .nav1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px,auto));
  }

  header > .nav1 {
    gap: 5px;
  }

  header > .nav1 > .searcher > input {
    min-width: none;
    width: 100%;
  }

  .nav1 > div > a > h2 {
    display: none;
  }

  .nav1 > div > a > h3 {
    display: none;
  }

  .nav1 > div > a > img {
    display: flex;
    gap: 0px;
    justify-content: space-around;
  }

  header > .nav2 {
  display: none;
  }

  header > nav > img {
    display: block;
    height: 50px;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  #topics {
    display: flex;
    flex-direction: column;
    margin: 5px;
  }

  #topics > ul {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
  }

  .advice > ul {
    width: 100%;
    gap: 0px;
    display: flex;
    flex-direction: column;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  .footer-1 > img {
    width: 50%;
  }

}